:root {
    --background: #160830;
    --foreground: #ffffff;
    --accent: #ea00a4;
    --font-size: 3rem;
    --line-height: 2rem;
    --radius: 0;
}

* {
    font-family: "obviously", sans-serif;
}

.bg-dots {
    background-image: url("https://blog.diogocezar.dev/images/bg.svg");
    background-repeat: no-repeat;
    background-position: top center;
}

.post-title {
    line-height: 4rem;
}

header {
    display: flex;
    justify-content: center;
}

header img,
footer img {
    border: none;
    padding: 0px;
    margin: 0px;
}

.footer {
    opacity: 1;
    display: flex;
    justify-content: center;
    padding: 0px;
}

footer img {
    width: 150px;
}
